
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
ul li > a {
  text-decoration: none;
}
nav > a {
  margin-right: 10px;
  text-decoration: none;
}

main img {
  width: 100%;
}
.photo {
  position: relative;
}
.photo > h1 {
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  font-size: 80px;
  z-index: 100;
}
span {
  color: blue;
  opacity: 0.8;
}
#triangle {
  width: 500px;
  height: 500px;
  background-color: blue;
  clip-path: polygon(0 0, 0% 100%, 100% 0%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
#information {
  
  padding: 80px;
}
#information > p {
  border-bottom: solid 2px gray;
}