#contener {
  background-color: #4d4d4d;
  display: flex;
  justify-content: center;
  height: 100px;
}
#contener > div {
  background-color: #B3B3B3;
  width: 10%;
  margin: auto 20px;
  height: 60%;
}
#contener p {
  text-align: center;
  color: #ffff;
}
.pc {
  margin: 40px 0;
  text-align: center;
}
h2 {
  text-align: center;
}
#coment {
  text-align: center;
}
.infomation {
  text-align: center;
}
.center {
  height: 30px;
  background-color: #B3B3B3;
  width: 80%;
  padding: 30px;
  margin: 10px;
}
.center > p {
  text-align: left;
}
#coment {
  padding: 30px;
  margin: 10px;
} 
footer {
  text-align: center;
  background-color: #4d4d4d;
  color: #ffff;
  width: 100%;
}

.sub {
  width: 100%;
  text-align: center;
  display: flex;
}
.sub img {
  width: 100%;
}
